<h1>カート</h1>

<table>
	<tr>
		<td rowspan="2">CD Image</td>
		<td><%= link_to "CD Name", clients_cd_path(cd.id) %></td>
		<td>CD Price</td>
	</tr>
	<tr>
		<td>f.number_field(form_for)</td>
		<td><%= link_to "削除", clients_item_path(item.id), method: :delete %></td>
	</tr>

	<tr>
		<td rowspan="2">CD Image2</td>
		td><%= link_to "CD Name2", clients_cd_path(cd.id) %></td>
		<td>CD Price2</td>
	</tr>
	<tr>
		<td>f.number_field2(form_for)</td>
		td><%= link_to "削除2", clients_item_path(item.id), method: :delete %></td>
	</tr>
</table>

<p>小計○点:¥○○○ | <%= link_to "レジへ進む", clients_order_buy_path(order.id) %></p>
