<div class="title">

<h2 class="space">注文内容の確認・編集</h2>

<div class="container">
		<div class="row address">
			<div class="col-lg-8 select-left">
				<h4>お届け先住所</h4>
				<!--clientの自宅住所選択用のラジオボタンを設置-->
				<%= form_for Order.new, url: clients_order_purchase_path do |f| %>
				<div>
					<label class="label-buy">
						<%= f.radio_button :client_id,@client.id, id: "one", checked: "checked" %>
							<% zyusyo1 = @client.last_name + @client.first_name + @client.post_code + @client.address %>
								<%= zyusyo1 %>
					</label>
				</div>

				<!--addressesテーブルのレコードの数だけそれぞれのラジオボタンを設置-->
				<% @client.addresses.each do |t| %>
					<div>
						<label class="label-buy">
						<%= f.radio_button :shipping_address, t.id, class: "two" %>
						<% zyusyo = t.last_name + t.first_name + t.sub_post_code + t.sub_address %>
							<%= zyusyo %>
						</label>
					</div>
				<% end %>

				<div><%= link_to "新規住所追加登録はこちら", new_clients_client_path, class:"btn btn-success" %></div>

				<!--支払い方法選択用のラジオボタンを設置-->
				<h4 class="line-height">お支払い方法</h4>
				<div class="btn-group"  data-toggle="buttons">
					<label class="btn btn-primary active">
						<%= f.radio_button :payment, 0, checked: "checked" %>クレジット
					</label>
					<label class="btn btn-primary">
						<%= f.radio_button :payment, 1 %>銀行振込
					</label>
					<label class="btn btn-primary">
						<%= f.radio_button :payment, 2 %>代引き
					</label>
				</div>
			</div>
			<div class="col-lg-4 select-right">
				<div class="money">
					<h4>注文内容</h4>
					<p class="line-buy">商品の小計:<%= "￥" + (@total_price*1.08).floor.to_s %></p>
					<p class="line-buy">配送料・手数料:<span>￥500</span></p>
					<p class="line-buy">ご請求額:<%= "￥" + (@total_price*1.08 + 500).floor.to_s %></p>
				</div>
					<%= f.submit "注文を確定する", class:"btn btn-info" %>
					<% end %>
			</div>
		</div>

<% @items.each do |item| %>
<div class="row item">
<div class="col-lg-3">
<%= attachment_image_tag item.cd, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.png" ,:size =>'200x200' %>
</div>
<div class="col-lg-3 date">
<p>CD名：<%= item.cd.name %></p>
<p>アーティスト名：<%= item.cd.artist.artist_name %></p>
<p>ジャンル名：<%= item.cd.genre.genre_name %></p>
<p>レーべル名：<%= item.cd.label.label_name %></p>
<p>税込価格：<%= (item.cd.price*1.08).floor %></p>
</div>
<div class="col-lg-3 date">
	<p>収録曲
	<% item.cd.discs.each do |disc| %>
	<div class="disc-numnum">
		 Disc.<%= disc.disc_number %>
	</div>
			<% disc.songs.each do |song| %>
			<div class="disc-song">
			<%= song.song_number %>
			<%= song.song_name %>
		    </div>
		<% end %>
	<% end %>
	</p>
</div>
</div>
<% end %>

<script>
//idがoneの要素をradio1に代入
var radio1 = document.getElementById("one");

//radio1がクリックされたときにclass名twoのcheckedをfalseにしている
radio1.addEventListener("click", () => {
	$('.two').prop('checked',false);
});

//class名twoがクリックされたとき、もしradio1がチェックされていたらチェックを外す
$('.two').on('click', function(){
  if (radio1.checked === true) {
  radio1.checked = false;
	}
});

</script>

<span id="back">
	<a href="#">
		<%= image_tag "arrow.png"  %>
	</a>
</span>
</div>
</div>