<h1>注文履歴一覧</h1>

<table border = "1">

	<tr>
		<th>購入日</th>
		<th>CD名</th>
		<th>購入枚数</th>
		<th>CD価格</th>
		<th>送料</th>
		<th>支払方法</th>
		<th>ステータス</th>
	</tr>

	<% @orders.each do |order| %>

	<tr align = "center">
		<td><%= order.created_at.strftime("%Y-%m-%d") %></td>
		<td>
			<% order.order_items.each do |item| %>
				<div><%= link_to item.cd.name, clients_order_show_path(item.id) %></div>
			<% end %>
		</td>
		<td>
			<% order.order_items.each do |item| %>
				<div><%= link_to item.quantity, clients_order_show_path(item.id) %></div>
			<% end %>
		</td>
		<td>
			<% order.order_items.each do |item| %>
				<div><%= link_to "￥"+ item.cd.price.to_s, clients_order_show_path(item.id) %></div>
			<% end %>
		</td>
		<td>￥500</td>
		<td><%= order.payment %></td>
		<td><%= order.shipment_status %></td>
	</tr>

	<% end %>



<h2>総計金額      ￥<%= @total_price %></h2>

<span id="back">
	<a href="#">
		<%= image_tag "arrow.png"  %>
	</a>
</span>