<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :氏名 %>
    <%= f.text_field :last_name, autofocus: true%>
    <%= f.text_field :first_name, autofocus: true%>
  </div>

  <div class="field">
     <%= f.label :カナ %>
     <%= f.text_field :last_name_kana, autofocus: true%>
     <%= f.text_field :first_name_kana, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %>(半角英数字　ハイフンあり)
    <%= f.text_field :telephone, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %>(半角英数字　ハイフンあり)
    <%= f.text_field :post_code, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :住所 %>(例：東京都渋谷区神南町0-0-0-101号)
    <%= f.text_field :address, autofocus: true%>
  </div>


  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上のパスワード)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :確認用パスワード %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

