<div class="nested-fields">
  <h4 class="disc-num-info">Disc number</h4>
    <%= f.text_field :disc_number, class:"disc-number info-text" %>
    <%= link_to_remove_association "DISC削除", f, class: "btn btn-danger btn-xs" %>
  <table class="song-info">
      <thead>
        <tr>
          <th class="disc-table1">曲順</th>
          <th class="disc-table2">曲名</th>
          <th class="disc-delete"></th>
        </tr>
      </thead>
      <tbody>
          <%= f.fields_for :songs do |s| %>
            <%= render 'song_fields', f: s %>
          <% end %>
      </tbody>
  </table>
  <div class="song-botton">
    <%= link_to_add_association '曲追加', f, :songs, class: "btn btn-success btn-block new-song-button"%>
  </div>
</div>
