<div class="nested-fields">
  <h4>No.disc</h4>
    <%= f.text_field :disc_number, class:"disc-number" %>
    <%= link_to_remove_association "DISC削除", f %>
  <table>
      <thead>
        <tr>
          <th class="disc-table1">曲順</th>
          <th class="disc-table2">曲名</th>
          <th class="disc-delete"></th>
        </tr>
      </thead>
      <tbody>
          <%= f.fields_for :songs do |s| %>
            <%= render 'song_fields', f: s %>
          <% end %>
      </tbody>
  </table>
  <div>
    <%= link_to_add_association '曲追加', f, :songs %>
  </div>
</div>
