<div class="header-bar">
	    <li class="">
            <%= link_to admins_cds_path  do %>
            	<span aria-hidden="true">商品一覧</span>
            <% end %>
        </li>

        <li class="">
            <%= link_to admins_cds_path  do %>
            	<span aria-hidden="true">商品追加</span>
            <% end %>
        </li>

        <li class="">
            <%= link_to admins_clients_path  do %>
            	<span aria-hidden="true">顧客一覧</span>
            <% end %>
        </li>

        <li class="">
            <%= link_to admins_orders_path  do %>
            	<span aria-hidden="true">顧客購入履歴</span>
            <% end %>
        </li>

        <li class="">
            <%= link_to admin_session_path  do %>
            	<span aria-hidden="true">ログアウト</span>
        <% end %>
</div>