<div class="title">
	<h2 class="space">商品詳細</h2>
	<div class="show-items">
		<div class="show-items row">
			<div class="col-sm-5">
				<div class="show-item">
					<%= attachment_image_tag @cd, :image, :fill, 400, 400, format: 'jpeg' ,fallback: "noimage.jpg" ,:size =>'400x400' %>
				</div>
				<div class="show-item">
					<h4>説明文</h4>
					<div class="show-info-item">
						<%= @cd.description %>
					</div>
				</div>
			</div>

			<div class="col-sm-7 show-box2">
				<div class="show-item">
					<h4>アーティスト名</h4>
					<div class="show-info-item">
						<%= @cd.artist.artist_name %>
					</div>
				</div>
				<div class="show--item">
					<h4>CD名</h4>
					<div class="show-info-item">
						<%= @cd.name %>
					</div>
				</div>
				<div class="show-item">
					<h4>収録曲</h4>
					<div class="show-info-item">
						<% @cd.discs.each do |disc| %>
							 <div>
							 	Disc.<%= disc.disc_number %>
							 </div>
							<% disc.songs.each do |song| %>
							<div class="show-song-number">
								<%= song.song_number %>.
								<%= song.song_name %>
							</div>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="show-item">
					<h4>ジャンル</h4>
					<div class="show-info-item">
						<%= @cd.genre.genre_name %>
					</div>
				</div>
				<div class="show-item">
					<h4>レーベル名</h4>
					<div class="show-info-item">
						<%= @cd.label.label_name %>
					</div>
				</div>
				<div class="show-item">
					<h4>在庫</h4>
					<div class="show-info-item">
						<%= @cd.stock %>個
					</div>
				</div>
				<div class="show-item">
					<h4>ステータス</h4>
					<div class="show-info-item">
						<%= @cd.sale_status %>
					</div>
				</div>
				<div class="show-item">
					<h4>税込価格</h4>
					<div class="show-info-item">
						¥<%= (@cd.price.to_i*1.08).floor %>
					</div>
				</div>
			</div>
		</div>
		<div class="edit-botton-box">
			<%= link_to "商品編集", edit_admins_cd_path, class: 'btn btn-primary btn-lg  btn-block edit-botton' %>
		</div>
	</div>
</div>