<div class="main">
	<%= image_tag 'music.png'%>
	<p>長野県出身アーティストを集めたECサイト</p>
</div>

<div class="all_wave">
<div class="wave" id="w1"></div>
<div class="wave" id="w2"></div>
<div class="wave" id="w3"></div>
<div class="wave" id="w4"></div>
<div class="wave" id="w5"></div>
<div class="wave" id="w6"></div>
<div class="wave" id="w7"></div>
<div class="wave" id="w8"></div>
<div class="wave" id="w9"></div>
<div class="wave" id="w10"></div>
<div class="wave" id="w11"></div>
<div class="wave" id="w12"></div>
<div class="wave" id="w13"></div>
<div class="wave" id="w14"></div>
<div class="wave" id="w15"></div>
<div class="wave" id="w16"></div>
<div class="wave" id="w17"></div>
<div class="wave" id="w18"></div>
<div class="wave" id="w19"></div>
<div class="wave" id="w20"></div>
<div class="wave" id="w21"></div>
<div class="wave" id="w22"></div>
<div class="wave" id="w24"></div>
<div class="wave" id="w25"></div>
<div class="wave" id="w26"></div>
<div class="wave" id="w27"></div>
</div>

<h2 class="genre_name">ジャンル</h2>
<ul class="bxslider">
	<% @cds.each do |cd| %>
		<li class="object">
			<%= link_to clients_cd_path(cd.id) do %>
			<div class="image"><%= attachment_image_tag cd, :image, :fill, 40, 40, format: 'jpeg', fallback: "noimage.jpg" ,:size =>'60x60' %></div>
			<div><%= cd.artist.artist_name %></div>
			<div><%= cd.name %></div>
			<% end %>
		</li>
    <% end %>
</ul>

<% @genres.each do |genre| %>
	<div class="way">
	<h2 class="genre_name"><%= genre.genre_name %></h2>
	<ul class="bxslider">
		<% genre.cds.each do |cd| %>
			<li class="object">
				<%= link_to clients_cd_path(cd.id) do %>
					<div class="image"><%= attachment_image_tag cd, :image, :fill, 40, 40, format: 'jpeg', fallback: "noimage.jpg" ,:size =>'60x60' %></div>
					<div><%= cd.artist.artist_name %></div>
			    	<div><%= cd.name %></div>
				<% end %>
			</li>
    	<% end %>
	</ul>
	</div>
<% end %>

<span id="back">
	<a href="#">
		<%= image_tag "arrow.png"  %>
	</a>
</span>

<script>
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu.png'
});
});
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu1.png'
});
});
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu2.png'
});
});
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu3.png'
});
});
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu4.png'
});
});
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu5.png'
});
});
$(function(){
	jQuery(document).snowfall({
	flakeCount:3,
	flakeColor:"#fff",
	flakeIndex:-1,
	minSize:30,
	maxSize:50,
	round:true,
	shadow:false,
	image: '/assets/onpu6.png'
});
});
</script>