<h1>検索結果</h1>

<% @search_cds.each do |cd| %>

<%= attachment_image_tag cd, :image %>

<p><%= link_to cd.name, clients_cd_path(cd.id) %></p>
<p><%= cd.artist.artist_name %></p>
<p>¥<%= cd.price %></p>

<% end %>

<%= paginate @search_cds %>