<h1>Mypage編集</h1>

<%= form_for @client, :url => {:controller => :clients, :action => :update } do |f| %>
<h3>氏名(漢字)
<%= f.text_field :last_name %> <%= f.text_field :first_name %></h3>
<h3>氏名(カナ)
<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana%></h3>
<h3>メールアドレス
<%= f.email_field :email %></h3>
<h3>電話番号
<%= f.text_field :telephone %></h3>
<h3>郵便番号
<%= f.text_field :post_code %></h3>
<h3>住所
<%= f.text_field :address %></h3>
<h3><%= f.submit 'Update Mypage' %></h3>
<% end %>

