<div class="title">
	<h2 class="client-info-1">住所新規登録</h2>
	<%= flash[:danger] %>
	<%= form_for @address, :url => {:action => :create} do |f| %>
		<div class="info-items">
			<h4>・氏名</h4>
			<div class="text-fields-box">
				<%= f.text_field :last_name, :size=>"10", class: "text-field name"  %><%= f.text_field :first_name, :size=>"10", class: "text-field name"  %>
			</div>
		</div>
		<div class="info-items">
			<h4>・郵便番号(半角英数字 ハイフンあり)</h4>
			<div class="text-fields-box">
				<%= f.text_field :sub_post_code, :size=>"20", class: "text-field"  %>
			</div>
		</div>
		<div class="info-items">
			<h4>・住所</h4>
			<div class="text-fields-box">
				<%= f.text_field :sub_address, :size=>"60", class: "text-field"  %>
			</div>
		</div>
		<div class="client-update-botton">
			<%= f.submit "追加", class: "btn btn-primary btn-lg btn-block" %>
		</div>
	</div>
	<% end %>
</div>