<!DOCTYPE html>
<html>
  <head>
    <title>Nagareco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <div class="logo_name"><%= image_tag "logo2_nagareco.png" %></div>
        </nav>
        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>
            <li>
              <%= link_to "商品一覧", admins_cds_path %>
            </li>
            <li>
              <%= link_to "商品追加", new_admins_cd_path %>
            </li>
            <li>
              <%= link_to "顧客一覧", admins_clients_path %>
            </li>
            <li>
              <%= link_to "顧客購入履歴", admins_orders_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <div class="text-right">管理者でログイン中</div>

          <% elsif client_signed_in? %>
            <li>
              <%= search_form_for @search, url: clients_cds_search_path do |f| %>
              <li><%= f.text_field :name_or_artist_artist_name_cont ,placeholder: '商品名、アーティスト名で検索', size: "40*40", required: true %><%= f.submit("検索") %></li>
              <% end %>
            </li>
            <li>
              <%= link_to "商品一覧", clients_cds_path %>
            </li>
            <li>
              <%= link_to "マイページ", clients_client_path(current_client.id) %>
            </li>
            <li>
              <%= link_to "カート編集", clients_items_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_client_session_path, method: :delete %>
            </li>
            <div class="text-right"><%= current_client.last_name + current_client.first_name %>でログイン中</div>

          <% else %>
            <li>
            <%= search_form_for @search, url: clients_cds_search_path do |f| %>
            <li><%= f.text_field :name_or_artist_artist_name_cont ,placeholder: '商品名、アーティスト名で検索', size: "40*40", required: true %><%= f.submit("検索") %></li>
            <% end %>
            </li>
            <li>
              <%= link_to "商品一覧", clients_cds_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_client_session_path %>
            </li>
            <li>
              <%= link_to "サインアップ", new_client_registration_path %>
            </li>

          <% end %>
        </ul>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice] %>
      <div class="flash"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <div class="box"></div>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <p class="text-right">CopyRight ながれこ.inc</p>
      </div>
    </footer>

  </body>
</html>